header
{
    display: table;
    padding-bottom: 25px;
}

.orderColumn > td
{
    padding: 10px;
    font-size: 13px;
}

.orderLabel
{
    padding: 15px;
    font-weight: bold;
    font-size: 16px;
}

img.adminHomeImg
{
    width: 25px;
    height: 25px;
    float: left;

    padding-left: 20px;
}

.text--status-unconfirmed
{
    color: red;
}

.text--status-confirmed
{
    color: green;
}

